.enterprise-card {
  display: flex;
  height: 10rem;
  width: 65%;
  margin: 1.5rem;
  background-color: #d4d4d4;
  .image-logo {
    width: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
  }
  .enterprise-info {
    span {
      display: inline-block;
      width: 25%;
      font-size: 2rem;
      margin: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
