.enterprise-card {
  display: flex;
  min-height: 10rem;
  width: 65%;
  margin: 1.5rem;
  background-color: #d4d4d4;
  .image-logo {
    min-width: 10rem;
    width: 10rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
  }
  .enterprise-info {
    display: flex;
    flex-wrap: wrap;
    span {
      display: inline-block;
      min-width: 25%;
      font-size: 2rem;
      margin: 1rem;
    }
  }
}
@media only screen and (max-width: 972px) {
  .enterprise-card {
    min-width: 90vw;
  }
}
