@import url('http://fonts.cdnfonts.com/css/arista-20');
.dashboard {
  width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
  @media only screen and (max-width: 1024px) {
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arista 2.0 Light', sans-serif;
    font-weight: 900;
    color: #00d084;
    margin-bottom: 5rem;
    border-bottom: 0.1rem #000 solid;
    padding: 2rem 0;
    img {
      margin-right: 15%;
    }
    .logo {
      position: relative;
      margin-left: 15%;
      .ecommerce-name {
        margin: 0;
        font-size: 4rem;
      }
      small {
        position: absolute;
        top: 3.7rem;
        left: 2.5rem;
        margin: 0;
        height: 29px;
        font-size: 1.6rem;
      }
    }
    img {
      cursor: pointer;
      width: 4rem;
    }
  }
  .search-enterprise {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    label {
      text-align: center;
    }
    .input-search {
      min-width: 20rem;
      margin-bottom: 1rem;
    }
    .submit-btn {
      all: unset;
      cursor: pointer;
      font-family: nunito;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: #000;
      background-color: #00d084;
      border: 0.15rem #000 solid;
      border-radius: 1.5rem;
      padding: 0.7rem 1rem;
      margin-left: 1rem;
      box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.061),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.089),
        100px 100px 80px rgba(0, 0, 0, 0.15);
      &:active {
        transition: 0.2s;
        opacity: 0.9;
        box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.089),
          22.3px 22.3px 17.9px rgba(0, 0, 0, 0.131),
          100px 100px 80px rgba(0, 0, 0, 0.22);
      }
    }
  }
  .ecommerces {
    margin: 5rem;
    .matched-enterprises {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .carousel {
        font-size: 2rem;
        display: flex;
        align-items: center;
        .btn {
          all: unset;
          font-size: 3rem;
          background-color: #00d084;
          border: 0.1rem #000 solid;
          border-radius: 1.5rem;
          padding: 0.2rem 1rem;
          margin: 1rem;
          cursor: pointer;
          box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.061),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.089),
            100px 100px 80px rgba(0, 0, 0, 0.15);
          &:active {
            transition: 0.2s;
            opacity: 0.9;
            box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.089),
              22.3px 22.3px 17.9px rgba(0, 0, 0, 0.131),
              100px 100px 80px rgba(0, 0, 0, 0.22);
          }
        }
      }
    }
  }
}
